@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
.css-1hb7zxy-IndicatorsContainer {
  display: none !important;
}

.css-13cymwt-control,
.css-13cymwt-control:hover,
.css-13cymwt-control:focus {
  border: 0 !important;
}

.css-1fdsijx-ValueContainer {
  padding: 0 !important;
}

.css-t3ipsp-control {
  border: 0 !important;
  box-shadow: none !important;
}

.css-1fdsijx-ValueContainer {
  cursor: text !important;
} */
