.container {
  padding-top: 50px;
}

.cardContainer {
  display: flex;
  align-items: center;
  max-width: 740px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 15px;
  margin: 20px auto;
}

.cardContainer input {
  border: 0 !important;
  padding: 0 !important;
  outline: 0;
}

.cardContainer input:focus {
  box-shadow: inherit;
}
