.inputGroup {
  position: relative !important;
}

.inputGroup input {
  border: 0 !important;
  padding: 0 !important;
  outline: 0;
}

.todoInput_second {
  /* border: 1px solid red !important; */
  /* z-index: 500; */
  outline: 0;
}

.todoInput_second:focus {
  box-shadow: inherit;
}
